# Create a Supabase PostgreSQL database: https://supabase.com/
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@[HOST]/postgres
# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=
# Change it to your website's url when in production
NEXTAUTH_URL="http://localhost:3000"
